[submodule "6502-emu"]
	path = external/6502-emu
	url = https://github.com/oleiman/6502-emu.git
[submodule "external/nativefiledialog"]
	path = external/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "test/nes-test-roms"]
	path = test/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms.git
